@import "/node_modules/bootstrap/dist/css/bootstrap.css";
* {
	padding: 0;
	margin: 0%;
}
body {
	display: grid;
	align-items: center;
}
header{

	background-image: url('../assets/img/banner.png');
	width: 100%;

}


main {
	height: 65vh;
	width: 100%;
}
footer{
	margin-top: 30%;
}
/*map sizing*/
.leaflet-container {
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: 996px) {
	// example
	.list-group-item {
		width: 100%;

		font-size: small;
		.list-text {
			font-size: small;
		}
	}
}
