@import "/node_modules/bootstrap/dist/css/bootstrap.css";

.list-group-item {
  width: 20vw;
}

.map-container {
  height: 400px;
  width: 100%;
}

.leaflet-container {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}
